<template>
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="" class="site_title">
                    <i class="fa fa-paw"></i>
                    <span style="text-align: center">TOEIC SMART</span>
                </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img src="https://cdn.iconscout.com/icon/free/png-512/avatar-372-456324.png" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>Vi Nguyen</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br/>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>GENERAL</h3>
                    <ul class="nav side-menu">
                        <li class="side-menu-li">
                            <router-link to="/">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Home
                            </router-link>
                        </li>
                        <li class="side-menu-li">
                            <a href="#">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                User
                                <span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="nav child_menu">
                                <li>
                                    <a href="#">
                                        List
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="side-menu-li">
                            <router-link to="#">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Exams
                                <span class="fa fa-chevron-down"></span>
                            </router-link>
                            <ul class="nav child_menu">
                                <li>
                                    <router-link to="/exams">
                                      List
                                    </router-link>
                                </li>
                                <li>
                                    <a href="#">
                                        Create
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="side-menu-li">
                            <router-link to="#">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                Questions
                                <span class="fa fa-chevron-down"></span>
                            </router-link>
                            <ul class="nav child_menu">
                                <li>
                                  <router-link to="/part-ones">
                                        Part 1 - Photographs
                                  </router-link>
                                </li>
                                <li>
                                    <a href="#">
                                        Part 2 - Question-Response
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Part 3 - Conversations
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Part 4 - Talks
                                    </a>
                                </li>
                                <li>
                                    <router-link to="/part-fives">
                                        Part 5 - Incomplete Sentences
                                    </router-link>
                                </li>
                                <li>
                                    <a href="#">
                                        Part 6 - Text Completion
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Part 7 - Single Passages & Multiple Passages
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="side-menu-li">
                            <router-link to="#">
                                <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                                Data Presentation
                            </router-link>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /sidebar menu -->
        </div>
    </div>
</template>

<style>
    .side-menu-li:hover  ul {
        display: block !important;
    }

    .side-menu-li:hover {
        border-right: 5px solid #1ABB9C !important;
    }

</style>

<script>
    export default {

    }
</script>
