<template>
  <div class="header" >
    <div class="contain-header">
      <div>
        <span class="icon-home" />
        <p>Techsaku</p>
      </div>
      <div class="header-right">
        <div v-if="!idUser">
          <router-link :to="{name: 'web-login'}">
            <p>Login</p>
          </router-link>
          <router-link :to="{name: 'web-register'}">
            <p>Register</p>
          </router-link>
        </div>
        <div v-if="idUser">
          <el-dropdown trigger="click">
            <p class="el-dropdown-link">
              {{nameUser}}
              <span v-if="isVip">(VIP)</span>
              <i class="el-icon-arrow-down el-icon--right"></i>
            </p>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <router-link :to="{name: 'profile'}">
                  <span>Thông tin cá nhân</span>
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item>
                <router-link :to="{name: 'statistic'}">
                  <span>Kết quả học tập</span>
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item>
                <router-link :to="{name: 'payment'}">
                  <span>Nâng cấp tài khoản</span>
                </router-link>
              </el-dropdown-item>
              <el-dropdown-item >
                <span @click="logout">
                  Đăng xuất
                </span>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      data() {
        return {
          isVip: localStorage.getItem('isVip')==='1'
        }
      },
      computed: {
        idUser() {
          return localStorage.getItem('idUser');
        },
        nameUser() {
          return localStorage.getItem('nameUser');
        },
      },
      methods: {
        logout() {
          localStorage.removeItem('token');
          localStorage.removeItem('nameUser');
          localStorage.removeItem('idUser');
          localStorage.removeItem('isVip');
          window.location.href = '/login';
        }
      }
    }
</script>
