<template>
  <div class="container-web">
    <header-web />
    <nav-menu />
    <div class="container-content">
      <slot />
    </div>
  </div>
</template>

<script>

  import HeaderWeb from "@/web/views/layouts/HeaderWeb";
  import NavMenu from "@/web/views/layouts/NavMenu";

  export default {
    components: {
      HeaderWeb,
      NavMenu
    }
  }
</script>
