<template>
  <div
    class="nav-menu"
    id="nav-menu"
  >
    <div
      class="content-nav-menu"
    >
      <div>
        <router-link to="/">
          <span>Toeic Smart</span>
        </router-link>
      </div>
      <div class="nav-menu-right">
        <router-link to="/">
          <span>Home</span>
        </router-link>
        <span>Toeic Test</span>
        <el-dropdown>
          <span class="el-dropdown-link">
            Skill Test<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu
            slot="dropdown"
            class="nav-menu-dropdown"
          >
            <el-dropdown-item v-if="loading">
              <span>Loading...</span>
            </el-dropdown-item>
            <el-dropdown-item
              v-for="partType in partTypes"
              :key="partType.id"
              v-if="!loading"
            >
              <router-link :to="partType.url?{name:partType.url}:''">
                {{partType.id===1?(partType.title+" - "+partType.name + "(VIP)"):(partType.title+" - "+partType.name)}}
              </router-link>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </div>
</template>

<script>

  import {Fetch} from "@/helpers/fetch";

  const fetchRequest = new Fetch();

  export default {
    data() {
      return {
        partTypes: [
          {
            id: 1,
            name: '',
            title: ''
          }
        ],
        loading: false
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        this.loading = true
        fetchRequest.get('/api/part-types').then((response)=>{
          this.loading = false;
          this.partTypes = response.data;
          console.log('part-type:'+this.partTypes);
        })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      }
    }
  }
</script>
