<template>
    <div class="container body" style="height: 100%">
        <div class="main_container" style="height: 100%">
            <header-admin />
            <navigation />
            <div class="right_col" role="main" style="min-height: 100%" >
                <slot />
            </div>
        </div>
    </div>
</template>

<script>

    import HeaderAdmin from "../sections/HeaderAdmin";
    import Navigation from "../sections/Navigation";

    export default {
        components: {
            HeaderAdmin,
            Navigation
        },
    }
</script>
