<template>
  <layout>
    <div class="loading" v-if="loading">Loading...</div>
    <div
      class="container-content"
      v-if="!loading"
    >
      <h3
        class="title-page-question"
      >
        {{ partFive.part_type }}
      </h3>
      <p
        class="direction-question"
      >
        <b>Direction:</b> {{partFive.direction}}
      </p>
      <div
        class="list-question list-content"
      >
      <span
        class="result"
        v-show="isSubmit"
      >
        Result: {{correct_sentences}}/{{total_question}}
      </span>
        <div class="list-question-detail">
          <div
            class="question-item"
            v-for="question in partFive.questions"
            :key="question.code_question"
          >
            <span>{{question.code_question}}. {{question.content}}</span>
            <div class="contain-question-answers">
              <el-radio
                v-model="question.answer"
                :label="answer.code"
                :name="question.code_question.toString()"
                v-for="answer in question.answers"
                :key="answer.code"
                :disabled="isSubmit"
                :class="(isSubmit && question.key === answer.code)?'answer-correct':''"
              >
                <span>({{answer.code}}) {{answer.content}}</span>
                <span
                  class="icon-cross"
                  v-show="isSubmit && question.answer===answer.code && question.key !== answer.code"
                />
                <span
                  class="icon-checkmark"
                  v-show="isSubmit && question.key === answer.code"
                />
              </el-radio>
            </div>
            <div
              class="contain-explain"
              v-show="isSubmit"
            >
              <span>Key {{question.key}}</span>
              <div v-show="question.answers[0].translate!=null">
                <p><b>Dịch nghĩa:</b></p>
                <p
                  v-for="answer in question.answers"
                  :key="answer.code"
                >
                  - {{answer.content}}: {{answer.translate}}
                </p>
              </div>
              <div
                v-show="question.explain!=null"
              >
                <p>
                  <b>Giải thích:</b> {{question.explain}}
                </p>
              </div>
              <div
                v-show="question.format!=null"
              >
                <p>
                  <b>Format:</b> {{question.format}}
                </p>
              </div>
              <div
                v-show="question.vocabularies!=null"
              >
                <p>
                  <b>Từ vựng:</b> {{question.vocabularies}}
                </p>
              </div>
              <div
                v-show="question.translate!=null"
              >
                <p>
                  <b>Tạm dịch:</b> {{question.translate}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <el-button
          type="primary"
          class="btn-submit-test"
          v-text="'Submit'"
          @click="submitTest"
        />
      </div>
    </div>
  </layout>
</template>

<script>

  import Layout from "@/web/views/layouts/Layout";
  import {Fetch} from "@/helpers/fetch";
  const fetchRequest = new Fetch();

  export default {
    data() {
      return {
        partFive: {
          exam: "",
          book: "",
          part_type: "",
          direction: "",
          questions: []
        },
        ratio: '',
        answers: [],
        correct_sentences: 0,
        total_question: 0,
        isSubmit: false,
        loading: false,
        userId: localStorage.getItem('idUser')
      }
    },
    components: {
      Layout
    },
    mounted() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        this.loading = true;
        let url = '/api/skill-test?exam_id='+this.$route.params.part_id+'&part_type_id=5';
        fetchRequest.get(url).then((response)=>{
          this.loading = false;
          this.partFive = response.data;
          console.log(this.partFive);
          this.partFive.answer = "";
          this.total_question = this.partFive.questions.length;
        })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      },
      submitTest() {
        this.partFive.questions.forEach((question)=>{
          let data = {
            id_question: question.id,
            code_question: question.code_question,
            answer: question.answer,
            isCorrect: question.answer===question.key
          }
          this.correct_sentences = data.isCorrect? this.correct_sentences+1: this.correct_sentences;
          this.answers.push(data);
        });
        let correct_ratio = this.correct_sentences+'/'+this.total_question;

        fetchRequest.post('/api/user-skill-tests', {
          'part_id': this.partFive.id,
          'user_id': this.userId,
          'correct_sentences': this.correct_sentences,
          'correct_ratio': correct_ratio
        })
          .then((response)=>{
            this.isSubmit = true;
            window.scrollTo(0,0);
          })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      }
    }
  }
</script>
