.main_container {
  width: 100%;
}

.part-five {
    h1 {
        font-size: 40px;
        font-weight: bold;
        color: #000000;
    }
}

.title-page {
    font-weight: bold;
    font-size: 30px;
    color: $bg-color;
    text-align: center;
    margin-bottom: 30px;
}

.form-create-question {
    width: 800px;
    margin: auto;
    padding-bottom: 100px;
    .input-item {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        label {
            font-weight: bold;
            font-size: 18px;
            color: $bg-color;
            width: 200px;
        }
        div {
            width: 100%;
        }
    }
    .input-item-group {
        display: flex;
        flex-direction: column;
    }
    .btn-create-submit {
        margin-top: 30px;
    }

  .el-upload__input {
    display: none !important;
  }

  .el-upload {
    width: 100px!important;
  }
}
