.title-page-question {
  color: $bg-web;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}

.direction-question {
  color: $bg-web;
  font-size: 13px;
}

.list-content {
  margin-top: 30px;
  @extend %flex-column-align;
  span:first-child {
    color: $bg-web;
    font-size: 15px;
    font-weight: bold;
  }
}

.list-exam {
  .list-part-detail {
    width: 500px;
    border: 1px solid $border-web;
    padding: 15px;
    margin-top: 30px;
  }
  .part-detail {
    @extend %flex-align-space;
    height: 50px;
    border-bottom: 1px solid $border-web;
  }
}

.loading {
  width: 100px;
  margin: auto;
}

.list-question {
  margin-bottom: 100px;
  .result {
    font-size: 18px;
    margin: 15px;
    color: $bg-web;
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid $border-web;
  }
  .list-question-detail {
    width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    .question-item {
      padding-bottom: 20px;
      margin-top: 15px;
      border-bottom: 1px solid $border-web;
    }
    .contain-question-answers {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      margin-left: 25px;
      label {
        display: flex;
      }
      .el-radio {
        margin-top: 10px;
        white-space: pre-line;
        line-height: 1.5;
        color: $bg-web;
      }
      .el-radio__input {
        width: 14px;
        height: 14px;
        margin-top: 3px;
      }
      .el-radio__label {
        font-size: 13px;
        color: $bg-web;
        span {
          color: $bg-web;
          font-size: 13px;
          font-weight: normal;
        }
        span:before {
          color: $bg-web;
          font-size: 13px;
        }
        span:last-child {
          margin-left: 5px;
        }
      }
      .is-checked {
        .el-radio__inner {
          border-color: $bg-web;
          background: $bg-web;
        }
        .el-radio__label {
          span:first-child {
            //font-weight: bold;
          }
        }
      }
      .isCorrect {
        .el-radio__label {
          span:first-child {
            font-weight: bold;
          }
        }
      }
      .answer-correct {
        .el-radio__label {
          span:first-child {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.contain-explain {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: #f5f5f5;
  padding: 20px;
  div {
    margin-top: 10px;
  }
  p {
    font-style: italic;
    font-size: 13px;
    color: $bg-web;
  }
}

.btn-submit-test {
  span {
    color: $white !important;
  }
}
