%flex-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%flex-align-space {
  @extend %flex-align-center;
  justify-content: space-between;
}

%flex-column-align {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-web {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: $bg-web;
  .contain-header {
    @extend %flex-align-space;
    width: 1000px;
    height: 30px;
    margin: auto;
    span:before {
      color: $white;
      font-size: 13px;
    }
    p {
      color: $white;
      font-size: 13px;
    }
    div {
      @extend %flex-align-center;
      height: 30px;
    }
    div:first-child {
      span {
        margin-top: -2px;
      }
      p {
        margin-left: 5px;
      }
    }
    .header-right {
      @extend %flex-align-center;
      p:first-child {
        padding-right: 10px;
        border-right: 1px solid $white;
      }
      p:last-child {
        padding-left: 10px;
      }
    }
  }
}

.nav-menu {
  height: 65px;
  width: 100%;
  -webkit-box-shadow: 0 4px 2px -2px $border-web;
  -moz-box-shadow: 0 4px 2px -2px $border-web;
  box-shadow: 0 4px 2px -2px $border-web;
  background-color: $white;
  z-index: 2;
  .content-nav-menu {
    height: 65px;
    width: 1000px;
    margin: auto;
    @extend %flex-align-space;
    div:first-child {
      span {
        font-weight: bold;
        font-size: 30px;
        color: $bg-web;
        text-transform: uppercase;
      }
    }
  }
}

.nav-menu-top {
  @extend %flex-align-space;
  position: fixed;
  top:0;
  height: 50px;
  background-color: $white;
  .content-nav-menu {
    height: 50px;
  }
}

.nav-menu-right {
  height: 65px;
  @extend %flex-align-center;
  span {
    padding: 0 20px;
    font-size: 18px;
    color: $bg-web;
  }


}

.nav-menu-dropdown {
  a {
    color: $bg-web;
    font-size: 13px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

.container-content {
  width: 1000px;
  margin: auto;
  padding-top: 20px;
}

