@import "layout";


.profile-web {
  width: 400px;
  border: 1px solid #000;
  td {
    border: 1px solid #000;
    padding: 4px 6px;
  }
  tr {
    border: 1px solid #000;
  }
}

.update-profile {
  width: 400px;
  margin: auto;
  .form-update-profile {
    width: 100%;
    margin: 30px;
    .input-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 15px;
      label {
        font-weight: bold;
        font-size: 18px;
        color: $bg-color;
        width: 100px;
      }
      div {
        width: 100%;
      }
    }
  }
}

.component-statistic {
  width: 800px;
  margin: auto;
}


.payment {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .payment-title {
    width: 500px;
    margin-bottom: 30px;
    h1 {
      text-align: center;
      color: $bg-color;
    }
    p {
      text-align: center;
      color: $bg-color;
    }
  }
  .paypal {
    width: 400px;
  }
}
