@import url(https://fonts.googleapis.com/css?family=Nunito);.main_container {
  width: 100%;
}

.part-five h1 {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.title-page {
  font-weight: bold;
  font-size: 30px;
  color: #2A3F54;
  text-align: center;
  margin-bottom: 30px;
}

.form-create-question {
  width: 800px;
  margin: auto;
  padding-bottom: 100px;
}

.form-create-question .input-item {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.form-create-question .input-item label {
  font-weight: bold;
  font-size: 18px;
  color: #2A3F54;
  width: 200px;
}

.form-create-question .input-item div {
  width: 100%;
}

.form-create-question .input-item-group {
  display: flex;
  flex-direction: column;
}

.form-create-question .btn-create-submit {
  margin-top: 30px;
}

.form-create-question .el-upload__input {
  display: none !important;
}

.form-create-question .el-upload {
  width: 100px !important;
}

.header .contain-header,
.nav-menu .content-nav-menu,
.nav-menu-top,
.list-exam .part-detail,
.header .contain-header div,
.header .contain-header .header-right,
.nav-menu-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .contain-header,
.nav-menu .content-nav-menu,
.nav-menu-top,
.list-exam .part-detail {
  justify-content: space-between;
}

.list-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-web {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #2C3054;
}

.header .contain-header {
  width: 1000px;
  height: 30px;
  margin: auto;
}

.header .contain-header span:before {
  color: #ffffff;
  font-size: 13px;
}

.header .contain-header p {
  color: #ffffff;
  font-size: 13px;
}

.header .contain-header div {
  height: 30px;
}

.header .contain-header div:first-child span {
  margin-top: -2px;
}

.header .contain-header div:first-child p {
  margin-left: 5px;
}

.header .contain-header .header-right p:first-child {
  padding-right: 10px;
  border-right: 1px solid #ffffff;
}

.header .contain-header .header-right p:last-child {
  padding-left: 10px;
}

.nav-menu {
  height: 65px;
  width: 100%;
  box-shadow: 0 4px 2px -2px #EAEFF2;
  background-color: #ffffff;
  z-index: 2;
}

.nav-menu .content-nav-menu {
  height: 65px;
  width: 1000px;
  margin: auto;
}

.nav-menu .content-nav-menu div:first-child span {
  font-weight: bold;
  font-size: 30px;
  color: #2C3054;
  text-transform: uppercase;
}

.nav-menu-top {
  position: fixed;
  top: 0;
  height: 50px;
  background-color: #ffffff;
}

.nav-menu-top .content-nav-menu {
  height: 50px;
}

.nav-menu-right {
  height: 65px;
}

.nav-menu-right span {
  padding: 0 20px;
  font-size: 18px;
  color: #2C3054;
}

.nav-menu-dropdown a {
  color: #2C3054;
  font-size: 13px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.container-content {
  width: 1000px;
  margin: auto;
  padding-top: 20px;
}

.profile-web {
  width: 400px;
  border: 1px solid #000;
}

.profile-web td {
  border: 1px solid #000;
  padding: 4px 6px;
}

.profile-web tr {
  border: 1px solid #000;
}

.update-profile {
  width: 400px;
  margin: auto;
}

.update-profile .form-update-profile {
  width: 100%;
  margin: 30px;
}

.update-profile .form-update-profile .input-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.update-profile .form-update-profile .input-item label {
  font-weight: bold;
  font-size: 18px;
  color: #2A3F54;
  width: 100px;
}

.update-profile .form-update-profile .input-item div {
  width: 100%;
}

.component-statistic {
  width: 800px;
  margin: auto;
}

:root {
  --color-primary: $color_primary;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'icomoon';
  src: url(/fonts/icomoon.eot?0e057f3b9fc3912eed602e49ec531dbf);
  src: url(/fonts/icomoon.eot?0e057f3b9fc3912eed602e49ec531dbf) format("embedded-opentype"), url(/fonts/icomoon.ttf?eb05b30480211a8382253a9a23711689) format("truetype"), url(/fonts/icomoon.woff?286a3c810dd9af24da46863565504627) format("woff"), url(/fonts/icomoon.svg?7083b8c447fec0ed84d30356bd7a9e50) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\E900";
}

.icon-home2:before {
  content: "\E901";
}

.icon-home3:before {
  content: "\E902";
}

.icon-office:before {
  content: "\E903";
}

.icon-newspaper:before {
  content: "\E904";
}

.icon-pencil:before {
  content: "\E905";
}

.icon-pencil2:before {
  content: "\E906";
}

.icon-quill:before {
  content: "\E907";
}

.icon-pen:before {
  content: "\E908";
}

.icon-blog:before {
  content: "\E909";
}

.icon-eyedropper:before {
  content: "\E90A";
}

.icon-droplet:before {
  content: "\E90B";
}

.icon-paint-format:before {
  content: "\E90C";
}

.icon-image:before {
  content: "\E90D";
}

.icon-images:before {
  content: "\E90E";
}

.icon-camera:before {
  content: "\E90F";
}

.icon-headphones:before {
  content: "\E910";
}

.icon-music:before {
  content: "\E911";
}

.icon-play:before {
  content: "\E912";
}

.icon-film:before {
  content: "\E913";
}

.icon-video-camera:before {
  content: "\E914";
}

.icon-dice:before {
  content: "\E915";
}

.icon-pacman:before {
  content: "\E916";
}

.icon-spades:before {
  content: "\E917";
}

.icon-clubs:before {
  content: "\E918";
}

.icon-diamonds:before {
  content: "\E919";
}

.icon-bullhorn:before {
  content: "\E91A";
}

.icon-connection:before {
  content: "\E91B";
}

.icon-podcast:before {
  content: "\E91C";
}

.icon-feed:before {
  content: "\E91D";
}

.icon-mic:before {
  content: "\E91E";
}

.icon-book:before {
  content: "\E91F";
}

.icon-books:before {
  content: "\E920";
}

.icon-library:before {
  content: "\E921";
}

.icon-file-text:before {
  content: "\E922";
}

.icon-profile:before {
  content: "\E923";
}

.icon-file-empty:before {
  content: "\E924";
}

.icon-files-empty:before {
  content: "\E925";
}

.icon-file-text2:before {
  content: "\E926";
}

.icon-file-picture:before {
  content: "\E927";
}

.icon-file-music:before {
  content: "\E928";
}

.icon-file-play:before {
  content: "\E929";
}

.icon-file-video:before {
  content: "\E92A";
}

.icon-file-zip:before {
  content: "\E92B";
}

.icon-copy:before {
  content: "\E92C";
}

.icon-paste:before {
  content: "\E92D";
}

.icon-stack:before {
  content: "\E92E";
}

.icon-folder:before {
  content: "\E92F";
}

.icon-folder-open:before {
  content: "\E930";
}

.icon-folder-plus:before {
  content: "\E931";
}

.icon-folder-minus:before {
  content: "\E932";
}

.icon-folder-download:before {
  content: "\E933";
}

.icon-folder-upload:before {
  content: "\E934";
}

.icon-price-tag:before {
  content: "\E935";
}

.icon-price-tags:before {
  content: "\E936";
}

.icon-barcode:before {
  content: "\E937";
}

.icon-qrcode:before {
  content: "\E938";
}

.icon-ticket:before {
  content: "\E939";
}

.icon-cart:before {
  content: "\E93A";
}

.icon-coin-dollar:before {
  content: "\E93B";
}

.icon-coin-euro:before {
  content: "\E93C";
}

.icon-coin-pound:before {
  content: "\E93D";
}

.icon-coin-yen:before {
  content: "\E93E";
}

.icon-credit-card:before {
  content: "\E93F";
}

.icon-calculator:before {
  content: "\E940";
}

.icon-lifebuoy:before {
  content: "\E941";
}

.icon-phone:before {
  content: "\E942";
}

.icon-phone-hang-up:before {
  content: "\E943";
}

.icon-address-book:before {
  content: "\E944";
}

.icon-envelop:before {
  content: "\E945";
}

.icon-pushpin:before {
  content: "\E946";
}

.icon-location:before {
  content: "\E947";
}

.icon-location2:before {
  content: "\E948";
}

.icon-compass:before {
  content: "\E949";
}

.icon-compass2:before {
  content: "\E94A";
}

.icon-map:before {
  content: "\E94B";
}

.icon-map2:before {
  content: "\E94C";
}

.icon-history:before {
  content: "\E94D";
}

.icon-clock:before {
  content: "\E94E";
}

.icon-clock2:before {
  content: "\E94F";
}

.icon-alarm:before {
  content: "\E950";
}

.icon-bell:before {
  content: "\E951";
}

.icon-stopwatch:before {
  content: "\E952";
}

.icon-calendar:before {
  content: "\E953";
}

.icon-printer:before {
  content: "\E954";
}

.icon-keyboard:before {
  content: "\E955";
}

.icon-display:before {
  content: "\E956";
}

.icon-laptop:before {
  content: "\E957";
}

.icon-mobile:before {
  content: "\E958";
}

.icon-mobile2:before {
  content: "\E959";
}

.icon-tablet:before {
  content: "\E95A";
}

.icon-tv:before {
  content: "\E95B";
}

.icon-drawer:before {
  content: "\E95C";
}

.icon-drawer2:before {
  content: "\E95D";
}

.icon-box-add:before {
  content: "\E95E";
}

.icon-box-remove:before {
  content: "\E95F";
}

.icon-download:before {
  content: "\E960";
}

.icon-upload:before {
  content: "\E961";
}

.icon-floppy-disk:before {
  content: "\E962";
}

.icon-drive:before {
  content: "\E963";
}

.icon-database:before {
  content: "\E964";
}

.icon-undo:before {
  content: "\E965";
}

.icon-redo:before {
  content: "\E966";
}

.icon-undo2:before {
  content: "\E967";
}

.icon-redo2:before {
  content: "\E968";
}

.icon-forward:before {
  content: "\E969";
}

.icon-reply:before {
  content: "\E96A";
}

.icon-bubble:before {
  content: "\E96B";
}

.icon-bubbles:before {
  content: "\E96C";
}

.icon-bubbles2:before {
  content: "\E96D";
}

.icon-bubble2:before {
  content: "\E96E";
}

.icon-bubbles3:before {
  content: "\E96F";
}

.icon-bubbles4:before {
  content: "\E970";
}

.icon-user:before {
  content: "\E971";
}

.icon-users:before {
  content: "\E972";
}

.icon-user-plus:before {
  content: "\E973";
}

.icon-user-minus:before {
  content: "\E974";
}

.icon-user-check:before {
  content: "\E975";
}

.icon-user-tie:before {
  content: "\E976";
}

.icon-quotes-left:before {
  content: "\E977";
}

.icon-quotes-right:before {
  content: "\E978";
}

.icon-hour-glass:before {
  content: "\E979";
}

.icon-spinner:before {
  content: "\E97A";
}

.icon-spinner2:before {
  content: "\E97B";
}

.icon-spinner3:before {
  content: "\E97C";
}

.icon-spinner4:before {
  content: "\E97D";
}

.icon-spinner5:before {
  content: "\E97E";
}

.icon-spinner6:before {
  content: "\E97F";
}

.icon-spinner7:before {
  content: "\E980";
}

.icon-spinner8:before {
  content: "\E981";
}

.icon-spinner9:before {
  content: "\E982";
}

.icon-spinner10:before {
  content: "\E983";
}

.icon-spinner11:before {
  content: "\E984";
}

.icon-binoculars:before {
  content: "\E985";
}

.icon-search:before {
  content: "\E986";
}

.icon-zoom-in:before {
  content: "\E987";
}

.icon-zoom-out:before {
  content: "\E988";
}

.icon-enlarge:before {
  content: "\E989";
}

.icon-shrink:before {
  content: "\E98A";
}

.icon-enlarge2:before {
  content: "\E98B";
}

.icon-shrink2:before {
  content: "\E98C";
}

.icon-key:before {
  content: "\E98D";
}

.icon-key2:before {
  content: "\E98E";
}

.icon-lock:before {
  content: "\E98F";
}

.icon-unlocked:before {
  content: "\E990";
}

.icon-wrench:before {
  content: "\E991";
}

.icon-equalizer:before {
  content: "\E992";
}

.icon-equalizer2:before {
  content: "\E993";
}

.icon-cog:before {
  content: "\E994";
}

.icon-cogs:before {
  content: "\E995";
}

.icon-hammer:before {
  content: "\E996";
}

.icon-magic-wand:before {
  content: "\E997";
}

.icon-aid-kit:before {
  content: "\E998";
}

.icon-bug:before {
  content: "\E999";
}

.icon-pie-chart:before {
  content: "\E99A";
}

.icon-stats-dots:before {
  content: "\E99B";
}

.icon-stats-bars:before {
  content: "\E99C";
}

.icon-stats-bars2:before {
  content: "\E99D";
}

.icon-trophy:before {
  content: "\E99E";
}

.icon-gift:before {
  content: "\E99F";
}

.icon-glass:before {
  content: "\E9A0";
}

.icon-glass2:before {
  content: "\E9A1";
}

.icon-mug:before {
  content: "\E9A2";
}

.icon-spoon-knife:before {
  content: "\E9A3";
}

.icon-leaf:before {
  content: "\E9A4";
}

.icon-rocket:before {
  content: "\E9A5";
}

.icon-meter:before {
  content: "\E9A6";
}

.icon-meter2:before {
  content: "\E9A7";
}

.icon-hammer2:before {
  content: "\E9A8";
}

.icon-fire:before {
  content: "\E9A9";
}

.icon-lab:before {
  content: "\E9AA";
}

.icon-magnet:before {
  content: "\E9AB";
}

.icon-bin:before {
  content: "\E9AC";
}

.icon-bin2:before {
  content: "\E9AD";
}

.icon-briefcase:before {
  content: "\E9AE";
}

.icon-airplane:before {
  content: "\E9AF";
}

.icon-truck:before {
  content: "\E9B0";
}

.icon-road:before {
  content: "\E9B1";
}

.icon-accessibility:before {
  content: "\E9B2";
}

.icon-target:before {
  content: "\E9B3";
}

.icon-shield:before {
  content: "\E9B4";
}

.icon-power:before {
  content: "\E9B5";
}

.icon-switch:before {
  content: "\E9B6";
}

.icon-power-cord:before {
  content: "\E9B7";
}

.icon-clipboard:before {
  content: "\E9B8";
}

.icon-list-numbered:before {
  content: "\E9B9";
}

.icon-list:before {
  content: "\E9BA";
}

.icon-list2:before {
  content: "\E9BB";
}

.icon-tree:before {
  content: "\E9BC";
}

.icon-menu:before {
  content: "\E9BD";
}

.icon-menu2:before {
  content: "\E9BE";
}

.icon-menu3:before {
  content: "\E9BF";
}

.icon-menu4:before {
  content: "\E9C0";
}

.icon-cloud:before {
  content: "\E9C1";
}

.icon-cloud-download:before {
  content: "\E9C2";
}

.icon-cloud-upload:before {
  content: "\E9C3";
}

.icon-cloud-check:before {
  content: "\E9C4";
}

.icon-download2:before {
  content: "\E9C5";
}

.icon-upload2:before {
  content: "\E9C6";
}

.icon-download3:before {
  content: "\E9C7";
}

.icon-upload3:before {
  content: "\E9C8";
}

.icon-sphere:before {
  content: "\E9C9";
}

.icon-earth:before {
  content: "\E9CA";
}

.icon-link:before {
  content: "\E9CB";
}

.icon-flag:before {
  content: "\E9CC";
}

.icon-attachment:before {
  content: "\E9CD";
}

.icon-eye:before {
  content: "\E9CE";
}

.icon-eye-plus:before {
  content: "\E9CF";
}

.icon-eye-minus:before {
  content: "\E9D0";
}

.icon-eye-blocked:before {
  content: "\E9D1";
}

.icon-bookmark:before {
  content: "\E9D2";
}

.icon-bookmarks:before {
  content: "\E9D3";
}

.icon-sun:before {
  content: "\E9D4";
}

.icon-contrast:before {
  content: "\E9D5";
}

.icon-brightness-contrast:before {
  content: "\E9D6";
}

.icon-star-empty:before {
  content: "\E9D7";
}

.icon-star-half:before {
  content: "\E9D8";
}

.icon-star-full:before {
  content: "\E9D9";
}

.icon-heart:before {
  content: "\E9DA";
}

.icon-heart-broken:before {
  content: "\E9DB";
}

.icon-man:before {
  content: "\E9DC";
}

.icon-woman:before {
  content: "\E9DD";
}

.icon-man-woman:before {
  content: "\E9DE";
}

.icon-happy:before {
  content: "\E9DF";
}

.icon-happy2:before {
  content: "\E9E0";
}

.icon-smile:before {
  content: "\E9E1";
}

.icon-smile2:before {
  content: "\E9E2";
}

.icon-tongue:before {
  content: "\E9E3";
}

.icon-tongue2:before {
  content: "\E9E4";
}

.icon-sad:before {
  content: "\E9E5";
}

.icon-sad2:before {
  content: "\E9E6";
}

.icon-wink:before {
  content: "\E9E7";
}

.icon-wink2:before {
  content: "\E9E8";
}

.icon-grin:before {
  content: "\E9E9";
}

.icon-grin2:before {
  content: "\E9EA";
}

.icon-cool:before {
  content: "\E9EB";
}

.icon-cool2:before {
  content: "\E9EC";
}

.icon-angry:before {
  content: "\E9ED";
}

.icon-angry2:before {
  content: "\E9EE";
}

.icon-evil:before {
  content: "\E9EF";
}

.icon-evil2:before {
  content: "\E9F0";
}

.icon-shocked:before {
  content: "\E9F1";
}

.icon-shocked2:before {
  content: "\E9F2";
}

.icon-baffled:before {
  content: "\E9F3";
}

.icon-baffled2:before {
  content: "\E9F4";
}

.icon-confused:before {
  content: "\E9F5";
}

.icon-confused2:before {
  content: "\E9F6";
}

.icon-neutral:before {
  content: "\E9F7";
}

.icon-neutral2:before {
  content: "\E9F8";
}

.icon-hipster:before {
  content: "\E9F9";
}

.icon-hipster2:before {
  content: "\E9FA";
}

.icon-wondering:before {
  content: "\E9FB";
}

.icon-wondering2:before {
  content: "\E9FC";
}

.icon-sleepy:before {
  content: "\E9FD";
}

.icon-sleepy2:before {
  content: "\E9FE";
}

.icon-frustrated:before {
  content: "\E9FF";
}

.icon-frustrated2:before {
  content: "\EA00";
}

.icon-crying:before {
  content: "\EA01";
}

.icon-crying2:before {
  content: "\EA02";
}

.icon-point-up:before {
  content: "\EA03";
}

.icon-point-right:before {
  content: "\EA04";
}

.icon-point-down:before {
  content: "\EA05";
}

.icon-point-left:before {
  content: "\EA06";
}

.icon-warning:before {
  content: "\EA07";
}

.icon-notification:before {
  content: "\EA08";
}

.icon-question:before {
  content: "\EA09";
}

.icon-plus:before {
  content: "\EA0A";
}

.icon-minus:before {
  content: "\EA0B";
}

.icon-info:before {
  content: "\EA0C";
}

.icon-cancel-circle:before {
  content: "\EA0D";
}

.icon-blocked:before {
  content: "\EA0E";
}

.icon-cross:before {
  content: "\EA0F";
}

.icon-checkmark:before {
  content: "\EA10";
}

.icon-checkmark2:before {
  content: "\EA11";
}

.icon-spell-check:before {
  content: "\EA12";
}

.icon-enter:before {
  content: "\EA13";
}

.icon-exit:before {
  content: "\EA14";
}

.icon-play2:before {
  content: "\EA15";
}

.icon-pause:before {
  content: "\EA16";
}

.icon-stop:before {
  content: "\EA17";
}

.icon-previous:before {
  content: "\EA18";
}

.icon-next:before {
  content: "\EA19";
}

.icon-backward:before {
  content: "\EA1A";
}

.icon-forward2:before {
  content: "\EA1B";
}

.icon-play3:before {
  content: "\EA1C";
}

.icon-pause2:before {
  content: "\EA1D";
}

.icon-stop2:before {
  content: "\EA1E";
}

.icon-backward2:before {
  content: "\EA1F";
}

.icon-forward3:before {
  content: "\EA20";
}

.icon-first:before {
  content: "\EA21";
}

.icon-last:before {
  content: "\EA22";
}

.icon-previous2:before {
  content: "\EA23";
}

.icon-next2:before {
  content: "\EA24";
}

.icon-eject:before {
  content: "\EA25";
}

.icon-volume-high:before {
  content: "\EA26";
}

.icon-volume-medium:before {
  content: "\EA27";
}

.icon-volume-low:before {
  content: "\EA28";
}

.icon-volume-mute:before {
  content: "\EA29";
}

.icon-volume-mute2:before {
  content: "\EA2A";
}

.icon-volume-increase:before {
  content: "\EA2B";
}

.icon-volume-decrease:before {
  content: "\EA2C";
}

.icon-loop:before {
  content: "\EA2D";
}

.icon-loop2:before {
  content: "\EA2E";
}

.icon-infinite:before {
  content: "\EA2F";
}

.icon-shuffle:before {
  content: "\EA30";
}

.icon-arrow-up-left:before {
  content: "\EA31";
}

.icon-arrow-up:before {
  content: "\EA32";
}

.icon-arrow-up-right:before {
  content: "\EA33";
}

.icon-arrow-right:before {
  content: "\EA34";
}

.icon-arrow-down-right:before {
  content: "\EA35";
}

.icon-arrow-down:before {
  content: "\EA36";
}

.icon-arrow-down-left:before {
  content: "\EA37";
}

.icon-arrow-left:before {
  content: "\EA38";
}

.icon-arrow-up-left2:before {
  content: "\EA39";
}

.icon-arrow-up2:before {
  content: "\EA3A";
}

.icon-arrow-up-right2:before {
  content: "\EA3B";
}

.icon-arrow-right2:before {
  content: "\EA3C";
}

.icon-arrow-down-right2:before {
  content: "\EA3D";
}

.icon-arrow-down2:before {
  content: "\EA3E";
}

.icon-arrow-down-left2:before {
  content: "\EA3F";
}

.icon-arrow-left2:before {
  content: "\EA40";
}

.icon-circle-up:before {
  content: "\EA41";
}

.icon-circle-right:before {
  content: "\EA42";
}

.icon-circle-down:before {
  content: "\EA43";
}

.icon-circle-left:before {
  content: "\EA44";
}

.icon-tab:before {
  content: "\EA45";
}

.icon-move-up:before {
  content: "\EA46";
}

.icon-move-down:before {
  content: "\EA47";
}

.icon-sort-alpha-asc:before {
  content: "\EA48";
}

.icon-sort-alpha-desc:before {
  content: "\EA49";
}

.icon-sort-numeric-asc:before {
  content: "\EA4A";
}

.icon-sort-numberic-desc:before {
  content: "\EA4B";
}

.icon-sort-amount-asc:before {
  content: "\EA4C";
}

.icon-sort-amount-desc:before {
  content: "\EA4D";
}

.icon-command:before {
  content: "\EA4E";
}

.icon-shift:before {
  content: "\EA4F";
}

.icon-ctrl:before {
  content: "\EA50";
}

.icon-opt:before {
  content: "\EA51";
}

.icon-checkbox-checked:before {
  content: "\EA52";
}

.icon-checkbox-unchecked:before {
  content: "\EA53";
}

.icon-radio-checked:before {
  content: "\EA54";
}

.icon-radio-checked2:before {
  content: "\EA55";
}

.icon-radio-unchecked:before {
  content: "\EA56";
}

.icon-crop:before {
  content: "\EA57";
}

.icon-make-group:before {
  content: "\EA58";
}

.icon-ungroup:before {
  content: "\EA59";
}

.icon-scissors:before {
  content: "\EA5A";
}

.icon-filter:before {
  content: "\EA5B";
}

.icon-font:before {
  content: "\EA5C";
}

.icon-ligature:before {
  content: "\EA5D";
}

.icon-ligature2:before {
  content: "\EA5E";
}

.icon-text-height:before {
  content: "\EA5F";
}

.icon-text-width:before {
  content: "\EA60";
}

.icon-font-size:before {
  content: "\EA61";
}

.icon-bold:before {
  content: "\EA62";
}

.icon-underline:before {
  content: "\EA63";
}

.icon-italic:before {
  content: "\EA64";
}

.icon-strikethrough:before {
  content: "\EA65";
}

.icon-omega:before {
  content: "\EA66";
}

.icon-sigma:before {
  content: "\EA67";
}

.icon-page-break:before {
  content: "\EA68";
}

.icon-superscript:before {
  content: "\EA69";
}

.icon-subscript:before {
  content: "\EA6A";
}

.icon-superscript2:before {
  content: "\EA6B";
}

.icon-subscript2:before {
  content: "\EA6C";
}

.icon-text-color:before {
  content: "\EA6D";
}

.icon-pagebreak:before {
  content: "\EA6E";
}

.icon-clear-formatting:before {
  content: "\EA6F";
}

.icon-table:before {
  content: "\EA70";
}

.icon-table2:before {
  content: "\EA71";
}

.icon-insert-template:before {
  content: "\EA72";
}

.icon-pilcrow:before {
  content: "\EA73";
}

.icon-ltr:before {
  content: "\EA74";
}

.icon-rtl:before {
  content: "\EA75";
}

.icon-section:before {
  content: "\EA76";
}

.icon-paragraph-left:before {
  content: "\EA77";
}

.icon-paragraph-center:before {
  content: "\EA78";
}

.icon-paragraph-right:before {
  content: "\EA79";
}

.icon-paragraph-justify:before {
  content: "\EA7A";
}

.icon-indent-increase:before {
  content: "\EA7B";
}

.icon-indent-decrease:before {
  content: "\EA7C";
}

.icon-share:before {
  content: "\EA7D";
}

.icon-new-tab:before {
  content: "\EA7E";
}

.icon-embed:before {
  content: "\EA7F";
}

.icon-embed2:before {
  content: "\EA80";
}

.icon-terminal:before {
  content: "\EA81";
}

.icon-share2:before {
  content: "\EA82";
}

.icon-mail:before {
  content: "\EA83";
}

.icon-mail2:before {
  content: "\EA84";
}

.icon-mail3:before {
  content: "\EA85";
}

.icon-mail4:before {
  content: "\EA86";
}

.icon-amazon:before {
  content: "\EA87";
}

.icon-google:before {
  content: "\EA88";
}

.icon-google2:before {
  content: "\EA89";
}

.icon-google3:before {
  content: "\EA8A";
}

.icon-google-plus:before {
  content: "\EA8B";
}

.icon-google-plus2:before {
  content: "\EA8C";
}

.icon-google-plus3:before {
  content: "\EA8D";
}

.icon-hangouts:before {
  content: "\EA8E";
}

.icon-google-drive:before {
  content: "\EA8F";
}

.icon-facebook:before {
  content: "\EA90";
}

.icon-facebook2:before {
  content: "\EA91";
}

.icon-instagram:before {
  content: "\EA92";
}

.icon-whatsapp:before {
  content: "\EA93";
}

.icon-spotify:before {
  content: "\EA94";
}

.icon-telegram:before {
  content: "\EA95";
}

.icon-twitter:before {
  content: "\EA96";
}

.icon-vine:before {
  content: "\EA97";
}

.icon-vk:before {
  content: "\EA98";
}

.icon-renren:before {
  content: "\EA99";
}

.icon-sina-weibo:before {
  content: "\EA9A";
}

.icon-rss:before {
  content: "\EA9B";
}

.icon-rss2:before {
  content: "\EA9C";
}

.icon-youtube:before {
  content: "\EA9D";
}

.icon-youtube2:before {
  content: "\EA9E";
}

.icon-twitch:before {
  content: "\EA9F";
}

.icon-vimeo:before {
  content: "\EAA0";
}

.icon-vimeo2:before {
  content: "\EAA1";
}

.icon-lanyrd:before {
  content: "\EAA2";
}

.icon-flickr:before {
  content: "\EAA3";
}

.icon-flickr2:before {
  content: "\EAA4";
}

.icon-flickr3:before {
  content: "\EAA5";
}

.icon-flickr4:before {
  content: "\EAA6";
}

.icon-dribbble:before {
  content: "\EAA7";
}

.icon-behance:before {
  content: "\EAA8";
}

.icon-behance2:before {
  content: "\EAA9";
}

.icon-deviantart:before {
  content: "\EAAA";
}

.icon-500px:before {
  content: "\EAAB";
}

.icon-steam:before {
  content: "\EAAC";
}

.icon-steam2:before {
  content: "\EAAD";
}

.icon-dropbox:before {
  content: "\EAAE";
}

.icon-onedrive:before {
  content: "\EAAF";
}

.icon-github:before {
  content: "\EAB0";
}

.icon-npm:before {
  content: "\EAB1";
}

.icon-basecamp:before {
  content: "\EAB2";
}

.icon-trello:before {
  content: "\EAB3";
}

.icon-wordpress:before {
  content: "\EAB4";
}

.icon-joomla:before {
  content: "\EAB5";
}

.icon-ello:before {
  content: "\EAB6";
}

.icon-blogger:before {
  content: "\EAB7";
}

.icon-blogger2:before {
  content: "\EAB8";
}

.icon-tumblr:before {
  content: "\EAB9";
}

.icon-tumblr2:before {
  content: "\EABA";
}

.icon-yahoo:before {
  content: "\EABB";
}

.icon-yahoo2:before {
  content: "\EABC";
}

.icon-tux:before {
  content: "\EABD";
}

.icon-appleinc:before {
  content: "\EABE";
}

.icon-finder:before {
  content: "\EABF";
}

.icon-android:before {
  content: "\EAC0";
}

.icon-windows:before {
  content: "\EAC1";
}

.icon-windows8:before {
  content: "\EAC2";
}

.icon-soundcloud:before {
  content: "\EAC3";
}

.icon-soundcloud2:before {
  content: "\EAC4";
}

.icon-skype:before {
  content: "\EAC5";
}

.icon-reddit:before {
  content: "\EAC6";
}

.icon-hackernews:before {
  content: "\EAC7";
}

.icon-wikipedia:before {
  content: "\EAC8";
}

.icon-linkedin:before {
  content: "\EAC9";
}

.icon-linkedin2:before {
  content: "\EACA";
}

.icon-lastfm:before {
  content: "\EACB";
}

.icon-lastfm2:before {
  content: "\EACC";
}

.icon-delicious:before {
  content: "\EACD";
}

.icon-stumbleupon:before {
  content: "\EACE";
}

.icon-stumbleupon2:before {
  content: "\EACF";
}

.icon-stackoverflow:before {
  content: "\EAD0";
}

.icon-pinterest:before {
  content: "\EAD1";
}

.icon-pinterest2:before {
  content: "\EAD2";
}

.icon-xing:before {
  content: "\EAD3";
}

.icon-xing2:before {
  content: "\EAD4";
}

.icon-flattr:before {
  content: "\EAD5";
}

.icon-foursquare:before {
  content: "\EAD6";
}

.icon-yelp:before {
  content: "\EAD7";
}

.icon-paypal:before {
  content: "\EAD8";
}

.icon-chrome:before {
  content: "\EAD9";
}

.icon-firefox:before {
  content: "\EADA";
}

.icon-IE:before {
  content: "\EADB";
}

.icon-edge:before {
  content: "\EADC";
}

.icon-safari:before {
  content: "\EADD";
}

.icon-opera:before {
  content: "\EADE";
}

.icon-file-pdf:before {
  content: "\EADF";
}

.icon-file-openoffice:before {
  content: "\EAE0";
}

.icon-file-word:before {
  content: "\EAE1";
}

.icon-file-excel:before {
  content: "\EAE2";
}

.icon-libreoffice:before {
  content: "\EAE3";
}

.icon-html-five:before {
  content: "\EAE4";
}

.icon-html-five2:before {
  content: "\EAE5";
}

.icon-css3:before {
  content: "\EAE6";
}

.icon-git:before {
  content: "\EAE7";
}

.icon-codepen:before {
  content: "\EAE8";
}

.icon-svg:before {
  content: "\EAE9";
}

.icon-IcoMoon:before {
  content: "\EAEA";
}

.title-page-question {
  color: #2C3054;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}

.direction-question {
  color: #2C3054;
  font-size: 13px;
}

.list-content {
  margin-top: 30px;
}

.list-content span:first-child {
  color: #2C3054;
  font-size: 15px;
  font-weight: bold;
}

.list-exam .list-part-detail {
  width: 500px;
  border: 1px solid #EAEFF2;
  padding: 15px;
  margin-top: 30px;
}

.list-exam .part-detail {
  height: 50px;
  border-bottom: 1px solid #EAEFF2;
}

.loading {
  width: 100px;
  margin: auto;
}

.list-question {
  margin-bottom: 100px;
}

.list-question .result {
  font-size: 18px;
  margin: 15px;
  color: #2C3054;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 1px solid #EAEFF2;
}

.list-question .list-question-detail {
  width: 700px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-question .list-question-detail .question-item {
  padding-bottom: 20px;
  margin-top: 15px;
  border-bottom: 1px solid #EAEFF2;
}

.list-question .list-question-detail .contain-question-answers {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 25px;
}

.list-question .list-question-detail .contain-question-answers label {
  display: flex;
}

.list-question .list-question-detail .contain-question-answers .el-radio {
  margin-top: 10px;
  white-space: pre-line;
  line-height: 1.5;
  color: #2C3054;
}

.list-question .list-question-detail .contain-question-answers .el-radio__input {
  width: 14px;
  height: 14px;
  margin-top: 3px;
}

.list-question .list-question-detail .contain-question-answers .el-radio__label {
  font-size: 13px;
  color: #2C3054;
}

.list-question .list-question-detail .contain-question-answers .el-radio__label span {
  color: #2C3054;
  font-size: 13px;
  font-weight: normal;
}

.list-question .list-question-detail .contain-question-answers .el-radio__label span:before {
  color: #2C3054;
  font-size: 13px;
}

.list-question .list-question-detail .contain-question-answers .el-radio__label span:last-child {
  margin-left: 5px;
}

.list-question .list-question-detail .contain-question-answers .is-checked .el-radio__inner {
  border-color: #2C3054;
  background: #2C3054;
}

.list-question .list-question-detail .contain-question-answers .isCorrect .el-radio__label span:first-child {
  font-weight: bold;
}

.list-question .list-question-detail .contain-question-answers .answer-correct .el-radio__label span:first-child {
  font-weight: bold;
}

.contain-explain {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: #f5f5f5;
  padding: 20px;
}

.contain-explain div {
  margin-top: 10px;
}

.contain-explain p {
  font-style: italic;
  font-size: 13px;
  color: #2C3054;
}

.btn-submit-test span {
  color: #ffffff !important;
}

