<template>
    <admin>
        <h1>Dashboard</h1>
    </admin>
</template>

<script>

    import Admin from "../../admin/views/layouts/Admin";

    export default {
        components: {
            Admin
        }
    }
</script>
