<template>
  <layout>
    <div class="update-profile">
      <h1 style="text-align: center">Cập nhật thông tin cá nhân</h1>
      <br>

      <el-alert
        title="Email phải đúng định dạng"
        type="warning"
        show-icon
        v-if="!is_email"
      />
      <el-alert
        title="Email đã tồn tại"
        type="warning"
        show-icon
        v-if="!is_empty_email"
      />

      <br>


      <span v-if="!loading">
        Loading...
      </span>
      <div
        v-if="loading"
        class="form-update-profile"
      >
        <div class="input-item">
          <label>Họ tên:</label>
          <el-input
            type="text"
            placeholder="Tên hiển thị"
            v-model="name"
            :label="name"
          />
        </div>
        <div class="input-item">
          <label>Email:</label>
          <el-input
            type="text"
            placeholder="E-Mail"
            v-model="email"
            :label="email"
          />
        </div>
        <div class="input-item">
          <label>Mobile:</label>
          <el-input
            type="text"
            placeholder="Số điện thoại"
            v-model="mobile"
            :label="mobile"
          />
        </div>
        <div class="input-item">
          <label />
          <el-button
            type="primary"
            round
            @click="submit"
          >
            Cập nhật
          </el-button>
        </div>

      </div>

    </div>

  </layout>
</template>

<script>

  import Layout from "@/web/views/layouts/Layout";
  import {Fetch} from "@/helpers/fetch";
  const fetchRequest = new Fetch();

  export default {
    data() {
      return {
        mobile: '',
        email: '',
        name: '',
        loading: true,
        is_submit: true,
        is_email: true,
        is_empty_email: true,
        email_first: '',
        id: localStorage.getItem('idUser')
      }
    },
    components: {
      Layout
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        this.loading = false;
        fetchRequest.get('/api/profile')
          .then((response)=> {
            this.user = response.data;
            this.mobile = response.data.mobile;
            this.email = response.data.email;
            this.email_first = response.data.email;
            this.name = response.data.name;
            this.loading = true;
          })
          .catch((error)=> {
            Fetch.errorNotify(error);
          });
      },
      checkEmail() {
        if(this.email_first===this.email) return false;
        let url = '/api/checkEmail/?email='+this.email;
        fetchRequest.get(url)
        .then((response)=> {
          console.log(response.data.isEmpty)
          return response.data.isEmpty;
        })
        .catch((error)=>{
          Fetch.errorNotify(error);
          return false;
        })
      },
      validEmail: function (email) {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },
      submit() {
        if (!this.validEmail(this.email)) {
          this.is_submit = false;
          this.is_email = false;
        }
        else {
          let url = '/api/updateProfile/'+this.id;
          fetchRequest.post(url, {
            email: this.email,
            name: this.name,
            mobile: this.mobile
          })
            .then((response)=> {
              Fetch.successNotify();
              window.location.href = '/profile';
            })
            .catch((error)=>{
              Fetch.errorNotify(error);
            })

        }
      }
    }
  }
</script>
