<template>
  <layout>
    <h1 >Thông tin cá nhân</h1>

    <br>
    <router-link :to="{name:'profileUpdate'}">
      <el-button size="small" type="primary">
        Cập nhật
      </el-button>
    </router-link>

    <br><br><br>
    <span v-if="!loading">Loading...</span>
    <table class="profile-web" v-if="loading">
      <tr>
        <td>Họ tên</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td>Số điện thoại</td>
        <td>{{user.mobile}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{user.email}}</td>
      </tr>
    </table>

  </layout>
</template>

<script>

  import Layout from "@/web/views/layouts/Layout";
  import {Fetch} from "@/helpers/fetch";
  const fetchRequest = new Fetch();


  export default {
    data() {
      return {
        user: {},
        loading: true
      }
    },
    components: {
      Layout
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        this.loading = false;
        fetchRequest.get('/api/profile')
        .then((response)=> {
          this.user = response.data;
          this.loading = true;
        })
      }
    }
  }
</script>
