<template>
  <layout>

  </layout>
</template>

<script>
  import Layout from "@/web/views/layouts/Layout";
  import {Fetch} from "@/helpers/fetch";
  const fetchRequest = new Fetch();

  export default {
    components: {
      Layout
    }
  }
</script>
