<template>
  <layout>
    <div class="loading" v-if="loading">Loading...</div>
    <div
      class="container-content"
      v-if="!loading"
    >
      <h3 class="title-page-question">
        {{ partOne.title + ":" + partOne.name }}
      </h3>
      <p class="direction-question">
        <b>Direction:</b> {{partOne.direction}}
      </p>

      <div class="list-exam list-content">
        <span>Practice Exams:</span>

        <div class="list-part-detail">
          <div
            v-for="exam in exams"
            :key="exam.id"
            class="part-detail"
          >
            <router-link :to="{name:'exam-part-one', params:{part_id:exam.id}}">
              <span>{{exam.exam+" - "+exam.book}}</span>
            </router-link>
            <div>
              <span class="icon-user" />
              <span>1200</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </layout>
</template>

<script>

  import Layout from "@/web/views/layouts/Layout";
  import {Fetch} from "@/helpers/fetch";
  const fetchRequest = new Fetch();

  export default {
    components: {
      Layout
    },
    data() {
      return {
        loading: false,
        partOne: {
          id: 0,
          name: '',
          direction: '',
          title: ''
        },
        exams: [
          {
            id: 0,
            exam: '',
            book: ''
          }
        ]
      }
    },
    mounted() {
      this.fetchData();
      this.fetchExam();
    },
    methods: {
      fetchData() {
        this.loading = true;
        fetchRequest.get('/part-types/1')
          .then((response) => {
            this.loading = false;
            this.partOne = response.data;
          })
          .catch((error)=> {
            Fetch.errorNotify(error);
          });
      },
      fetchExam() {
        fetchRequest.get('/parts/exams/1')
        .then((response)=>{
          this.exams = response.data;
        })
        .catch((error)=>{
          Fetch.errorNotify(error);
        });
      }
    }
  }
</script>
