<template>
  <div>
    <div class="login_wrapper login_wrap">
      <div class="animate form login_form">
        <section class="login_content">
          <h1>Đăng ký</h1>
          <el-alert
            title="Mật khẩu nhập lại không chính xác"
            type="warning"
            show-icon
            v-if="!is_submit"
          />
          <el-alert
            title="Email phải đúng định dạng"
            type="warning"
            show-icon
            v-if="!is_email"
          />
          <br>
          <div>
            <input
              type="text"
              v-model="name"
              placeholder="Họ tên"
              class="form-control"
            >
          </div>

          <div>
            <input
              type="email"
              v-model="email"
              placeholder="E-Mail address"
              class="form-control"
            >
          </div>

          <div>
            <input
              type="text"
              v-model="mobile"
              placeholder="Số điện thoại"
              class="form-control"
            >
          </div>

          <div>
            <input
              type="password"
              v-model="password"
              placeholder="Mật khẩu"
              class="form-control"
            >
          </div>

          <div>
            <input
              type="password"
              v-model="reset_password"
              placeholder="Nhập lại mật khẩu"
              class="form-control"
            >
          </div>

          <br><br>

          <div>
            <el-button @click="summit"size="medium">Đăng ký</el-button>
            <router-link :to="{name: 'web-login'}">
              Bạn đã có tài khoản?
            </router-link>
          </div>

          <br>

          <div>
            <span>Login in with</span>
            <div style="margin-top: 10px">
              <el-button
                @click.stop="socialLogin('facebook')"
                type="primary"
                size="small"
              >
                <i class="fa fa-facebook"></i>  Facebook
              </el-button>
              <el-button
                @click.stop="socialLogin('google')"
                type="danger"
                size="small"
              >
                <i class="fa fa-google"></i>  Google
              </el-button>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</template>

<style>
  body {
    background: #F7F7F7;
  }

  .login_wrapper {
    right: 0;
    margin: 0 auto;
    max-width: 350px;
    position: relative;
  }

  .login_wrap {
    margin-top: 5%;
  }

  .login_form {
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .login_content {
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    min-width: 280px;
  }

  h1 {
    font: normal 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
    color: #73879C;
  }

  .login_content h1:before, .login_content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 20%;
  }

  .login_content input {
    border-radius: 3px;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    margin: 0 0 20px;
    width: 100%;
  }

  .form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
  }

  .reset_pass {
    font-size: 12px;
    margin: 10px 15px 0 40px;
    text-decoration: none;
  }

  span {
    font-size: 12px;
  }

  i {
    margin-right: 5px;
  }

</style>

<script>
  import {Fetch} from "@/helpers/fetch";
  const fetchRequest = new Fetch();

  export default {
    data() {
      return {
        email: '',
        password: '',
        name: '',
        mobile: '',
        reset_password: '',
        is_submit: true,
        is_email: true,
        isProcessing: false
      }
    },
    watch: {
      reset_password() {
        this.is_submit = true;
      },
      email() {
        this.is_email = true;
      }
    },
    methods: {
      summit() {

        if (this.password !== this.reset_password) {
          this.is_submit = false;
        }

        if(!this.validEmail(this.email)) {
          this.is_email = false;
        }
        else  {
          this.is_submit = true;
          this.is_email = true;
          fetchRequest.post('/api/auth/register', {
            email: this.email,
            password: this.password,
            mobile: this.mobile,
            name: this.name
          })
            .then((response)=> {
              const token = response.data.access_token;
              localStorage.setItem('token', token);
              localStorage.setItem('nameUser', response.data.user.name);
              localStorage.setItem('idUser', response.data.user.id);
              localStorage.setItem('isVip', response.data.user.is_vip);
              console.log(token);
              window.location.href = '/';
            })
            .catch((error)=> {
              Fetch.errorNotify(error);
            });
        }
      },
      validEmail: function (email) {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
      },
      socialLogin(provider) {
        this.isProcessing = true;

        fetchRequest.get(`/auth/${provider}`)
          .then((response)=> {
            if (response.data.error) {
              Fetch.errorNotify(error);
            }
            else if(response.data.redirectUrl) {
              window.location.href = response.data.redirectUrl;
            }
          })
          .catch((error)=> {
            Fetch.errorNotify(error);
          })
        this.isProcessing = false;
      }
    }
  }

</script>
