<template>
  <div class="loading" v-if="loading">Loading...</div>
</template>

<script>

  import {Fetch} from "@/helpers/fetch";

  const fetchRequest = new Fetch();
  import { mapGetters, mapActions } from "vuex";

  export default {
    data() {
     return {
       code: this.$route.query.code,
       scope: this.$route.query.scope,
       authuser: this.$route.query.authuser,
       prompt: this.$route.query.prompt,
       loading: false,
     }
    },
    created() {
      this.fetchData();
    },
    methods: {
      ...mapActions("auth",["setToken"]),
      fetchData() {
        this.loading = true;
        fetchRequest.get('/auth/google/callback',{
          params: {
            code: this.code,
            scope: this.scope,
            authuser: this.authuser,
            prompt: this.prompt
          }
        }).then((response)=> {
          const token = response.data.access_token;
          localStorage.setItem('token', token);
          localStorage.setItem('nameUser', response.data.user.name);
          localStorage.setItem('idUser', response.data.user.id);
          localStorage.setItem('isVip', response.data.user.is_vip);
          this.loading = false;
          window.location.href = '/';
        })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      }
    }
  }
</script>
