<template>
  <admin>
    <h1 class="title-page">Create Part One</h1>

    <div class="form-create-question">
      <div class="input-item">
        <label>Book:</label>
        <el-select
          v-model="book_id"
          placeholder="Select Book"
          @change="selectBook"
        >
          <el-option
            v-for="book in books"
            :key="book.id"
            :label="book.name"
            :value="book.id">
          </el-option>
        </el-select>
      </div>
      <div class="input-item">
        <label>Exam:</label>
        <el-select
          v-model="exam_id"
          placeholder="Select Exam"
          :disabled="isDisableExam"
        >
          <el-option
            v-for="exam in exams"
            :key="exam.id"
            :label="exam.name"
            :value="exam.id">
          </el-option>
        </el-select>
      </div>

      <div class="input-item">
        <label>Code Question: </label>
        <el-input-number
          v-model="code_question"
          :min="1"
          :max="10"
        />
      </div>

      <div class="input-item">
        <label>File listening: </label>
        <input type="file" accept="audio/mp3" id="file-audio">
      </div>

      <div class="input-item">
        <label>File image: </label>
        <input type="file" accept="image/png" id="file-image">
      </div>

      <div
        v-for="answer in answers"
        :key="answer.code"
        class="input-item-group"
      >
        <div class="input-item">
          <label>Answer {{answer.code}}: </label>
          <el-input
            type="text"
            :placeholder="answer.placeholder"
            v-model="answer.content"
          />
        </div>
        <div class="input-item">
          <label>Trans answer {{answer.code}}: </label>
          <el-input
            type="text"
            :placeholder="answer.placeholderTran"
            v-model="answer.translate"
          />
        </div>
      </div>

      <div class="input-item">
        <label>Key:</label>
        <el-select v-model="key" placeholder="Key Question">
          <el-option
            v-for="key in keys"
            :key="key.value"
            :label="key.value"
            :value="key.value">
          </el-option>
        </el-select>
      </div>

      <div class="input-item btn-create-submit">
        <label />
        <el-button
          type="primary"
          @click="createQuestion"
        >
          Create
        </el-button>
      </div>
    </div>
  </admin>
</template>

<script>
  import Admin from "@/admin/views/layouts/Admin";
  import {Fetch} from "@/helpers/fetch";
  let env = require('@/env')

  const fetchRequest = new Fetch();

  export default {
    data() {
      return {
        content: "",
        book_id: "",
        exam_id: "",
        books: [],
        exams: [],
        code_question: 1,
        isDisableExam: true,
        action: env.API_URL+'/upload',
        isSubmit: true,
        url_audio: '',
        url_image: '',
        key: '',
        fileListen: [],
        fileImage: [],
        fileName: null,
        answers: [
          {
            code: "A",
            content: "",
            translate: "",
            placeholder: "Enter Answer A",
            placeholderTran: "Enter Translate A"
          },
          {
            code: "B",
            content: "",
            translate: "",
            placeholder: "Enter Answer B",
            placeholderTran: "Enter Translate B"
          },
          {
            code: "C",
            content: "",
            translate: "",
            placeholder: "Enter Answer C",
            placeholderTran: "Enter Translate C"
          },
          {
            code: "D",
            content: "",
            translate: "",
            placeholder: "Enter Answer D",
            placeholderTran: "Enter Translate D"
          }
        ],
        answerA: "",
        answerB: "",
        answerC: "",
        answerD: "",
        transA: "",
        transB: "",
        transC: "",
        transD: "",
        keys: [
          {
            value: 'A'
          },
          {
            value: 'B'
          },
          {
            value: 'C'
          },
          {
            value: 'D'
          }
        ],
      }
    },
    components: {
      Admin
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        fetchRequest.get('/api/books').then((response)=>{
          this.books = response.data;
        })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      },
      selectBook() {
        fetchRequest.get('/api/exams',{
          params: {
            book_id: this.book_id
          }
        }).then((response)=>{
          this.exams = response.data;
          this.isDisableExam = false;
        })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      },
      createQuestion() {
        let formData = new FormData();
        const file_audio = document.getElementById('file-audio').files[0];
        const file_image = document.getElementById('file-image').files[0];
        let answers = JSON.stringify(this.answers);

        formData.append('answers', answers);
        formData.append('file_audio',file_audio);
        formData.append('file_image',file_image);
        formData.append('exam_id',this.exam_id);
        formData.append('code_question',this.code_question);
        formData.append('key',this.key);

        fetchRequest.post('/api/part-ones', formData)
        .then((response)=>{
          this.partOne = response.data;
          Fetch.successNotify();
          window.location.href = '/part-ones/create'
        })
        .catch((error)=>{
          Fetch.errorNotify(error);
        });
      },
    }
  }

</script>
