<template>
  <admin>
    <h1>Part One</h1>
    <router-link to="/part-ones/create">
      <el-button type="primary">Add Question</el-button>
    </router-link>
  </admin>
</template>

<script>

  import Admin from "@/admin/views/layouts/Admin";

  export default  {
    components: {
      Admin
    }
  }
</script>
