<template>
  <admin>
    <h1 class="title-page">Create Exams</h1>

    <div class="form-create-question" >
      <div class="input-item">
        <label>Book:</label>
        <el-select
          v-model="book_id"
          placeholder="Select Book"
        >
          <el-option
            v-for="book in books"
            :key="book.id"
            :label="book.name"
            :value="book.id">
          </el-option>
        </el-select>
      </div>

      <div class="input-item">
        <label>Name</label>
        <el-input
          type="text"
          placeholder="Enter Name"
          v-model="name"
        />
      </div>

      <div class="input-item">
        <label>File listening: </label>
        <el-upload
          :action="action"
          :on-success="uploadFileListening"
          :show-file-list="false"
        >
          <el-button slot="trigger" round size="small" type="info">
            Select file
            <i class="el-icon-upload el-icon-right"></i>
          </el-button>
          <span>{{url_audio}}</span>
        </el-upload>
      </div>

      <div class="input-item btn-create-submit">
        <label />
        <el-button
          type="primary"
          @click="createExam"
        >
          Create
        </el-button>
      </div>

    </div>

  </admin>
</template>

<script>

  import Admin from "@/admin/views/layouts/Admin";
  import {Fetch} from "@/helpers/fetch";
  let env = require('@/env')

  const fetchRequest = new Fetch();

  export default {
    components: {
      Admin
    },
    data() {
      return {
        book_id: "",
        books: [],
        isSubmit: true,
        url_audio: '',
        name: '',
        action: env.API_URL+'/upload',
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        fetchRequest.get('/books').then((response)=>{
          this.books = response.data;
        })
        .catch((error)=>{
          Fetch.errorNotify(error);
        });
      },
      uploadFileListening(response) {
        this.url_audio = response.data.url_file;
        Fetch.successNotify();
      },
      createExam() {
        fetchRequest.post('/exams', {
          book_id: this.book_id,
          url_audio: this.url_audio,
          name: this.name,
          status: 1
        })
        .then((response)=>{
          Fetch.successNotify();
        })
        .catch((error)=>{
          Fetch.errorNotify(error);
        });
      }
    }
  }

</script>
