<template>
  <admin>
    <h1>Detail Exam</h1>
    <div class="loading" v-if="loading">Loading...</div>
    <el-table
      :data="parts"
      style="width: 100%"
      v-if="!loading"
    >
      <el-table-column
        prop="title"
        label="Title"
        width="200"
      />
      <el-table-column
        prop="name"
        label="Name"
        width="200"
      />
      <el-table-column
        prop="number_question"
        label="Number Question"
        width="200"
      />
      <el-table-column
        label="Action"
        width="240"
      >
        <template slot-scope="scope">
          <router-link :to="'/exams/'+scope.row.id">
            <el-button
              size="mini"
              type="info"
            >
              View
            </el-button>
          </router-link>
          <router-link :to="'/exams/parts/'+scope.row.id ">
            <el-button
              size="mini"
              type="primary"
            >
              Edit
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>

  </admin>
</template>

<script>

  import Admin from "@/admin/views/layouts/Admin";
  import {Fetch} from "@/helpers/fetch";
  let env = require('@/env')
  const fetchRequest = new Fetch();

  export default {
    components: {
      Admin
    },
    data() {
      return {
        parts: [],
        loading: false
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        this.loading = true;
        let url = "exams/"+this.$route.params.exam_id + "/parts";
        fetchRequest.get(url)
        .then((response)=>{
          this.parts = response.data;
          this.loading = false;
        })
        .catch((error)=>{
          Fetch.errorNotify(error);
        })
      }
    }
  }
</script>
