<template>
  <admin>
    <h1 class="title-page">Edit Part</h1>

    <div class="loading" v-if="loading">Loading...</div>

    <div
      class="form-create-question"
      v-if="!loading"
    >

      <div class="input-item">
        <label>Book</label>
        <el-input
          type="text"
          v-model="part.book"
          :disabled="true"
        />
      </div>

      <div class="input-item">
        <label>Exam</label>
        <el-input
          type="text"
          v-model="part.exam"
          :disabled="true"
        />
      </div>

      <div class="input-item">
        <label>Part</label>
        <el-input
          type="text"
          v-model="part.title+' - '+part.name"
          :disabled="true"
        />
      </div>

      <div class="input-item">
        <label>File listening: </label>
        <el-upload
          :action="action"
          :on-success="uploadFileListening"
          :show-file-list="false"
        >
          <el-button slot="trigger" round size="small" type="info">
            Select file
            <i class="el-icon-upload el-icon-right"></i>
          </el-button>
          <span>{{url_audio}}</span>
        </el-upload>
      </div>
      <div class="input-item btn-create-submit">
        <label />
        <el-button
          type="primary"
          @click="updatePart"
        >
          Update
        </el-button>
      </div>

    </div>


  </admin>
</template>

<script>

  import Admin from "@/admin/views/layouts/Admin";
  import {Fetch} from "@/helpers/fetch";
  let env = require('@/env')
  const fetchRequest = new Fetch();

  export default {
    components: {
      Admin
    },
    data() {
      return {
        part: {},
        loading: false,
        action: env.API_URL+'/upload',
        url_audio: ''
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        this.loading = true;
        let url = 'parts/'+this.$route.params.part_id;
        fetchRequest.get(url)
        .then((response)=>{
          this.part = response.data;
          this.loading = false;
          this.url_audio = response.data.url_audio;
        })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      },
      uploadFileListening(response) {
        this.url_audio = response.data.url_file;
        Fetch.successNotify();
      },
      updatePart() {
        let url = '/parts/'+this.$route.params.part_id;
        fetchRequest.put(url, {
          url_audio: this.url_audio,
          exam_id: this.part.exam_id,
          part_type_id: this.part.part_type_id
        })
          .then((response)=>{
            Fetch.successNotify();
          })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      }
    }
  }


</script>
