<template>
  <admin>
    <h1>Exams</h1>

    <router-link to="/exams/create">
      <el-button type="primary">Add Exam</el-button>
    </router-link>
    <br>
    <div class="loading" v-if="loading">Loading...</div>

    <el-table
      :data="exams"
      style="width: 100%"
      v-if="!loading"
    >
      <el-table-column
        prop="id"
        label="ID"
        width="50"
      />
      <el-table-column
        prop="name"
        label="Name"
        width="180"
      />
      <el-table-column
        prop="book"
        label="Book"
        width="180"
      />
      <el-table-column
        label="Action"
        width="240"
      >
        <template slot-scope="scope">
          <router-link :to="'exams/'+scope.row.id">
            <el-button
              size="mini"
              type="info"
            >
              View
            </el-button>
          </router-link>
          <router-link :to="'exams/update/'+scope.row.id ">
            <el-button
              size="mini"
              type="primary"
            >
              Edit
            </el-button>
          </router-link>
          <el-button
            size="mini"
            type="danger"
          >
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>

  </admin>
</template>

<script>

  import Admin from "@/admin/views/layouts/Admin";
  import {Fetch} from "@/helpers/fetch";
  let env = require('@/env')
  const fetchRequest = new Fetch();

  export default {
    components: {
      Admin
    },
    data() {
      return {
        exams: [],
        loading: false
      }
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        this.loading = true;
        fetchRequest.get('/exams')
        .then((response)=>{
          this.exams = response.data;
          console.log(this.exams);
          this.loading = false;
        })
        .catch((error)=>{
          Fetch.errorNotify(error);
        })
      }
    }
  }

</script>
