<template>
  <layout>
    <div class="payment">
      <div
        v-if="!paidFor"
        class="payment-title"
      >
        <h1>Nâng cấp tài khoản VIP chỉ với 10 USD</h1>
        <p>Bạn có thể làm tất cả các đề thi trong hệ thống sau khi nâng cấp</p>
      </div>

      <div
        v-if="paidFor"
        class="payment-title"
      >
        <h1>Bạn đã được nâng cấp lên tài khoản VIP</h1>
      </div>

      <div
        ref="paypal"
        class="paypal"
      />

    </div>
  </layout>
</template>

<!--email: sb-rr2bx2487765@personal.example.com -->
<!--password: 12345678-->

<script>
  import {Fetch} from "@/helpers/fetch";
  const fetchRequest = new Fetch();
  import Layout from "@/web/views/layouts/Layout";

  export default {
    components: {
      Layout
    },
    data: function() {
      return {
        loaded: false,
        paidFor: localStorage.getItem('isVip')==='1',
        price: 10.0,
        description: "Nâng cấp tài khoản VIP",
        payment: {}
      };
    },
    mounted: function() {
      const script = document.createElement("script");
      script.src =
        "https://www.paypal.com/sdk/js?client-id=ASm6sGryfYUTDZPpMi-3ZU6qLA-f7Kb5htlBnhaG3666guOhT8I4Ik6emgs_7QDsocTJ9tuxqkfjr-tg";
      script.addEventListener("load", this.setLoaded);
      document.body.appendChild(script);
    },
    methods: {
      setLoaded: function() {
        this.loaded = true;
        window.paypal
          .Buttons({
            createOrder: (data, actions) => {
              return actions.order.create({
                purchase_units: [
                  {
                    description: this.description,
                    amount: {
                      currency_code: "USD",
                      value: this.price
                    }
                  }
                ]
              });
            },
            onApprove: async (data, actions) => {
              const order = await actions.order.capture();
              this.paidFor = true;
              console.log(order);
              this.paymentVip();
            },
            onError: err => {
              console.log(err);
            }
          })
          .render(this.$refs.paypal);
      },
      paymentVip() {
        fetchRequest.post("/api/payments", {
          user_id: localStorage.getItem("idUser"),
          method: "Paypal",
          amount: 10.0,
          currency_code: "USD"
        }).then((response)=>{
          localStorage.setItem("isVip","1");
          Fetch.paymentSuccess();
        })
        .catch((error)=> {
          Fetch.errorNotify(error);
        })
      }
    }
  };
</script>
