<template>
    <admin>
        <h1 class="title-page">Create Question Part 5</h1>

        <div class="form-create-question">
            <div class="input-item">
                <label>Book:</label>
                <el-select
                    v-model="book_id"
                    placeholder="Select Book"
                    @change="selectBook"
                >
                    <el-option
                        v-for="book in books"
                        :key="book.id"
                        :label="book.name"
                        :value="book.id">
                    </el-option>
                </el-select>
            </div>
            <div class="input-item">
                <label>Exam:</label>
                <el-select
                    v-model="exam_id"
                    placeholder="Select Exam"
                    :disabled="isDisableExam"
                >
                    <el-option
                        v-for="exam in exams"
                        :key="exam.id"
                        :label="exam.name"
                        :value="exam.id">
                    </el-option>
                </el-select>
            </div>
            <div class="input-item">
                <label>Code Question: </label>
                <el-input-number
                    v-model="code_question"
                    :min="101"
                    :max="130"
                />
            </div>


            <div class="input-item">
                <label>Name Question: </label>
                <el-input
                    type="textarea"
                    :autosize="{ minRows: 2, maxRows: 4}"
                    placeholder="Enter Content"
                    v-model="content">
                </el-input>
            </div>

            <div
                v-for="answer in answers"
                :key="answer.code"
                class="input-item-group"
            >
                <div class="input-item">
                    <label>Answer {{answer.code}}: </label>
                    <el-input
                        type="text"
                        :placeholder="answer.placeholder"
                        v-model="answer.content"
                    />
                </div>

                <div class="input-item">
                    <label>Trans answer {{answer.code}}: </label>
                    <el-input
                        type="text"
                        :placeholder="answer.placeholderTran"
                        v-model="answer.translate"
                    />
                </div>

            </div>

            <div class="input-item">
                <label>Key:</label>
                <el-select v-model="key" placeholder="Key Question">
                    <el-option
                        v-for="key in keys"
                        :key="key.value"
                        :label="key.value"
                        :value="key.value">
                    </el-option>
                </el-select>
            </div>

            <div class="input-item">
                <label>Explain: </label>
                <el-input
                    type="textarea"
                    :autosize="{ minRows: 2, maxRows: 4}"
                    placeholder="Enter Explain"
                    v-model="explain">
                </el-input>
            </div>

            <div class="input-item">
                <label>Translate: </label>
                <el-input
                    type="textarea"
                    :autosize="{ minRows: 2, maxRows: 4}"
                    placeholder="Enter Translate"
                    v-model="translate">
                </el-input>
            </div>

            <div class="input-item">
                <label>Vocabularies: </label>
                <el-input
                    type="textarea"
                    :autosize="{ minRows: 2, maxRows: 4}"
                    placeholder="Enter Vocabularies"
                    v-model="vocabularies">
                </el-input>
            </div>

            <div class="input-item">
                <label>Format: </label>
                <el-input
                    type="textarea"
                    :autosize="{ minRows: 2, maxRows: 4}"
                    placeholder="Enter Format"
                    v-model="format">
                </el-input>
            </div>

            <div class="input-item btn-create-submit">
                <label />
                <el-button
                    type="primary"
                    @click="createQuestion"
                >
                    Create
                </el-button>
            </div>

        </div>
    </admin>
</template>

<script>

    import Admin from "../layouts/Admin";
    import {Fetch} from "@/helpers/fetch";

    const fetchRequest = new Fetch();

    export default {
        data() {
          return {
              content: "",
              book_id: "",
              exam_id: "",
              code_question: 101,
              part_five: {},
              answers: [
                  {
                      code: "A",
                      content: "",
                      translate: "",
                      placeholder: "Enter Answer A",
                      placeholderTran: "Enter Translate A",
                      is_correct: 1
                  },
                  {
                      code: "B",
                      content: "",
                      translate: "",
                      placeholder: "Enter Answer B",
                      placeholderTran: "Enter Translate B",
                      is_correct: 0
                  },
                  {
                      code: "C",
                      content: "",
                      translate: "",
                      placeholder: "Enter Answer C",
                      placeholderTran: "Enter Translate C",
                      is_correct: 0
                  },
                  {
                      code: "D",
                      content: "",
                      translate: "",
                      placeholder: "Enter Answer D",
                      placeholderTran: "Enter Translate D",
                      is_correct: 0
                  }
              ],
              explain: "",
              key:'A',
              vocabularies: "",
              translate: "",
              format: "",
              isDisableExam: true,
              isSubmit: true,
              numberEnter: 0,
              books: [
                  {
                      id: 1,
                      name: "ETS 2019"
                  },
                  {
                      id: 2,
                      name: "ETS 2020"
                  }
              ],
              exams: [
                  {
                      id: 1,
                      name: "TEST 1"
                  }
              ],
              keys: [
                  {
                      value: 'A'
                  },
                  {
                      value: 'B'
                  },
                  {
                      value: 'C'
                  },
                  {
                      value: 'D'
                  }
              ]
          }
        },
        components: {
            Admin
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                fetchRequest.get('/api/books').then((response)=>{
                    this.books = response.data;
                })
                .catch((error)=>{
                    Fetch.errorNotify(error);
                });
            },
            selectBook() {
                fetchRequest.get('/api/exams',{
                    params: {
                        book_id: this.book_id
                    }
                }).then((response)=>{
                    this.exams = response.data;
                    this.isDisableExam = false;
                })
                .catch((error)=>{
                    Fetch.errorNotify(error);
                });
            },
            createQuestion() {

                if (this.name==="") {
                    this.isSubmit = false;
                }

                this.answers.forEach((answer,index)=>{
                    if(answer.content==="") {
                        this.isSubmit = false;
                    }
                    answer.is_correct = answer.code === this.key;
                });

                if (this.isSubmit) {
                    if (this.exam_id) {
                      fetchRequest.post('api/part-fives', {
                        exam_id: this.exam_id,
                        code_question: this.code_question,
                        content: this.content,
                        translate: this.translate,
                        explain: this.explain,
                        vocabularies: this.vocabularies,
                        format: this.format,
                        answers: this.answers,
                        key: this.key
                      })
                      .then((response)=>{
                        this.part_five = response.data;
                        console.log(response);
                        Fetch.successNotify();
                        window.location.href = '/part-fives/create'
                      })
                      .catch((error)=>{
                        Fetch.errorNotify(error);
                      });
                    }
                    else {
                        Fetch.warningNotify("Nhập đủ trường yêu cầu");
                    }
                }
                else {
                    Fetch.warningNotify("Nhập đủ trường yêu cầu");
                }

            }
        }
    }
</script>
