<template>
  <admin>
    <h1>Part Five</h1>
    <router-link to="/part-fives/create">
      <el-button type="primary">Add Question</el-button>
    </router-link>
  </admin>
</template>

<script>

    import Admin from "../layouts/Admin";

    export default {
        components: {
            Admin
        }
    }
</script>
