<template>
  <layout>
    <h1 style="text-align: center">Kết quả học tập</h1>
    <br>
    <p
      style="text-align: center"
      v-if="!loading"
    >
      Loading
    </p>
    <br>
    <div
      class="component-statistic"
      v-if="loading"
    >
      <el-table
        :data="dataUser"
        style="width: 100%">
        <el-table-column
          prop="title_skill"
          label="Title Skill"
        />
        <el-table-column
          prop="name_skill"
          label="Name Skill"
        />
        <el-table-column
          prop="correct_sentences"
          label="Correct Sentences"
        />
        <el-table-column
          prop="correct_ratio"
          label="Ratio Correct"
        />
        <el-table-column
          prop="date_test"
          label="Created At"
        />
      </el-table>
    </div>


  </layout>
</template>

<script>
  import Layout from "@/web/views/layouts/Layout";
  import {Fetch} from "@/helpers/fetch";
  const fetchRequest = new Fetch();

  export default {
    data() {
      return {
        dataUser: [],
        userId: localStorage.getItem('idUser'),
        loading: true
      }
    },
    components: {
      Layout
    },
    created() {
      this.fetchData();
    },
    methods: {
      fetchData() {
        let url = '/api/skill-test-by-user?user_id='+this.userId;
        this.loading = false;
        fetchRequest.get(url)
        .then((response)=> {
          this.dataUser = response.data
          this.loading = true;
        })
          .catch((error)=>{
            Fetch.errorNotify(error);
          });
      }
    }

  }
</script>
